{% layout 'layout.liquid'%}

{% block content %}
<div id="search-display">
    <h2 class="display-6">My recipes</h2>
   
</br>
<div class="container">
    <div class="row row-cols-2 ">
        {% for recipe in recipes %}

            <div class="col-9 display-6" ><p>{{ recipe.name }}</p></div>
            <div class="col-4"><img src="{{ recipe.image }}" width="350px"></div>
            <div class="col-6"><p>{{ recipe.description }}</p><a href="/recipe/{{ recipe.id }}" class="btn btn-primary">View Recipe</a></div>
            

        {% endfor %}
    
    
    {% endblock %}

 