{% layout 'layout.liquid'%}

{% block content %}
<div id="search-display">
    <h2 class="display-6">Find Recipies</h2>
    <form action="/recipies" method="POST">
        <input type="text" name="food" placeholder="Enter your search">
        <input type="submit">
    </form>
</br>
<div class="container">
    <div class="row">
        {% for results in recipeData.results %}
        <div class="col-9 display-5" ><p>{{ results.title }}</p></div>
        
        <div class="col-4 shadow"><img src="{{ results.image }}" width="350px"></div>
        
        <div class="col-4"><a href="/{{ results.id }}" class="btn btn-info">
            View Recipie
            </a>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

   
   
   



    
{% endblock %}