.categories{
   display: flex;
    
}

.box{
    width: 200px;
    height: 200px;
    margin: 10px;
}

#search-display{
    text-align: center;
    margin: 20px;
}

body{
    background-color: lightsteelblue;
}

#show-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
}

#home{
    margin: 50px;
}

p{
    text-align: start;
}

.shadow {
    color: black;
}